<button mat-mini-fab class="btnhome" (click)="home()">
  <mat-icon>home</mat-icon>
</button>
<button mat-mini-fab class="btndelete" (click)="delete(goal)" routerLink="/homepage">
  <mat-icon>delete</mat-icon>
</button>
<button mat-mini-fab class="btnedit" routerLink="/edit/{{goal.id}}">
  <mat-icon>edit</mat-icon>
</button>
<div style="height: 728px;">
  <div *ngIf="goal" class="detail">
    <div class="name"><strong>{{goal.name}}</strong></div>
    <div class="description">{{goal.description}}</div>
  
    <div class="date"><span>Complete by </span>{{goal.date}}<span> | Priority </span>{{goal.priority}}</div>
  </div>
</div>