.detail{
  color: black;
  display: block;
  text-align: center;
  padding: 25px;
  margin-top: 50px;
  margin-bottom: 555px;
  margin-left: 500px;
  margin-right: 500px;
  background-color: #e6e6e6;
  border-radius: 10px;
}

.name{
  color: rgb(245, 187, 27);
  font-size: 38px;
  text-align: left;
  font-family: Arial;
}

.date{
  color: rgb(180, 177, 173);
  font-size: 16px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  text-align: left;
  margin-top: 10px;
}

.description{
  text-align: left;
  margin-top: 20px;
  font-size: 18px;
  font-family: sans-serif;
}

.btnhome{
  position: absolute;
  margin-left: 1800px;
  margin-top: -700px;
  background-color: rgb(245, 187, 27);
  border-radius: 5px;
  border: rgb(245, 187, 27);
  cursor: pointer;
  padding: 10px;
  color: black;
}

.btnhome:hover{
  background-color: rgb(230, 175, 26);
  color: white;
}

.clock{
  position: absolute;
  margin-top: -735px;
  margin-left: 1600px;
  background-color: #e6e6e6;
  border-radius: 10px;
  padding-top: 70px;
}