<div style="height: 648px;">
    <div class="account">
        <img src="assets/profil.png" alt="Profil" width="170" height="170" class="profilimg">
        <div class="text">
            <div class="username"><strong>Jozko Mrkvicka</strong></div>
            <div class="typ">Name:</div>
            <div class="name">Jozko</div>
            <div class="typ">Surname:</div>
            <div class="surname">Mrkvicka</div>
            <div class="typ">Password:</div>
            <div class="password">mrkvicka123</div>
            <div class="typ">E-mail:</div>
            <div class="email">jozko.mrkvicka@mail.com</div>
            <div class="typ">Telephone number:</div>
            <div class="phonenumber">+421 948 258 369</div>
        </div>
    </div>
</div>