<div style="height: 648px;">
    <div class="account">
        <img src="assets/profil.png" alt="Profil" width="170" height="170" class="profilimg">
        <div>
            <div class="username"><strong>{{userName}}</strong></div>
            <div class="text">
                <div class="typ"><strong>Name:</strong></div>
                <div class="name">{{name}}</div>
                <div class="typ"><strong>Surname:</strong></div>
                <div class="surname">{{surName}}</div>
                <div class="typ"><strong>Password:</strong></div>
                <div class="password">{{password}}</div>
                <div class="typ"><strong>E-mail:</strong></div>
                <div class="email">{{email}}</div>
                <div class="typ"><strong>Telephone number:</strong></div>
                <div class="phonenumber">{{phoneNumber}}</div>
        </div>
        </div>
    </div>
</div>