<div style="height: 648px;">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title class="title"><div>Login</div></mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <form class="example-form">
            <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                <mat-form-field class="example-full-width">
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
                    <button style="margin-right: -55px;" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </td>
            </tr>
            </table>
        </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="login()">Login</button>
            <button mat-raised-button >Registration</button>
        </mat-card-actions>
  </mat-card>
</div>